/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* COMMON */

/* HEADER */

/* MAIN */
.container {
    /* debug */
    background-color: aqua;

    margin: 0 auto;
    width: 80%;
    max-width: 1100px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: calc(100%/3);
    padding: 15px;
}

/* IMG HOVER */
.card>.img_box {
    position: relative;
}

.img_hover {
    position: absolute;
    left: 0;
    top: 0;
}

.main_img {
    position: absolute;
    z-index: 1;
}

.card:hover .img_hover {
    z-index: 2;
}

/* FOOTER */
