/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --orange: #FF6900;
}

img {
    max-width: 100%;
}

/* COMMON */

body {
    
    font-family: "Quicksand", sans-serif;
}

ul {
    list-style-type: none;
}

/* HEADER */
header {
    background-color: var(--orange);
    position: fixed;
    z-index: 9999;
    height: 70px;
    width: 100%;
    box-shadow: 5px 5px 5px rgba(113, 113, 113, 0.769);
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    color: white;
}

.genre_list>ul {
    display: flex;
    margin-left: 15px;
}

.genre_list ul li {
    padding: 5px;
    font-weight: 800;
}

.icon_list ul {
    display: flex;
    margin-right: 15px;
}

.icon_list ul li {
    padding: 5px;
}

.logo {
    width: 140px;
}


/* MAIN */
.container {
    margin: 0 auto;
    width: 80%;
    max-width: 1100px;
}

main {
    padding-top: 125px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: calc(100%/3);
    padding: 15px;
    position: relative;
}

/* IMG HOVER */
.card>.img_box {
    position: relative;
}

.img_hover {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 5px;
}

.main_img {
    position: absolute;
    z-index: 1;
    border-radius: 5px;
}

.card:hover .img_hover {
    z-index: 2;
    box-shadow: 5px 10px 18px var(--orange);
}

.card:hover .heart {
    color: orange;
}

/* DESCRIPTION TEXT */
.card_text {
    margin-top: 490px;
}

.dis_price,
.item_name {
    font-weight: 800;
}

.dis_price {
    color: red;
}

.lthr_price {
    text-decoration: line-through;
}

/* HEART POSITION */
.heart {
    position: absolute;
    top: 50px;
    right: 15px;
    width: 50px;
    text-align: center;
    font-size: 2rem;
    z-index: 5;
    background-color: white;
    border-radius: 20px 0 0 20px;
    display: inline-block;
}

.pop_style {
    padding: 5px;
    color: white;
    font-weight: 800;
    font-size: 0.9rem;
    position: absolute; 
    display: inline-block;
    bottom: 150px;
    z-index: 5;
}

.dis_perc {
    background-color: orange;
}

.sustain  {
    background-color: green;
    left: 65px;
}

/* FOOTER */
footer {
    background-color: #1A1A1A;
    margin-top: 30px;
}

.info_footer {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
}
.legal_info,
.social_info {
    display: flex;
    gap: 10px;
}

li a {
    color: white;
    font-size: 0.8rem;
}

.footer_title {
    font-weight: 800;
}